@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Utopia: https://utopia.fyi */
    --h1-lg: clamp(1.875rem, 1.1842rem + 3.4539vw, 4.5rem);
    --h1-sm: clamp(1.5625rem, 1.1rem + 3.8043vw, 3.75rem);
    --h2: clamp(2.5rem, 1.7283rem + 2.6087vw, 3.75rem);
    --h3: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);

    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 161.4 93.5% 30.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 151.8 81% 95.9%;
    --secondary-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 60%;
    --accent: 158.1 64.4% 51.6%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 0%;
    --input-foreground: 0 0% 100%;
    --ring: 158.1 64.4% 51.6%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  .focus-ring {
    @apply ring-offset-transparent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2;
  }
}
.pin-spacer {
  /* ensure the gsap spacer around the footer is always 100% wide */
  width: 100% !important;
}

/* html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
} */
